@mixin  option {
        position: absolute;
        transform: translate(-50%,-50%);
        width:95px;
        height:95px;
        border-radius: 50%;
        cursor: pointer;
        @include mq(large){
          width:140px;
          height: 140px;
        }
        &::after{
            content: "";
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            display: block;
            width:75px;
            height:75px;
            border-radius: 50%;
            background-color: #fff;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50%;
            @include mq(large){
              width:115px;
              height: 115px;
            }
        }
}

@mixin chosen {
        position: relative;
        width:150px;
        height:150px;
        border-radius: 50%;
        cursor: pointer;
        @include mq(large){
          width:250px;
          height:250px;
        }
        &::after{
            content: "";
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            display: block;
            width:120px;
            height:120px;
            border-radius: 50%;
            background-color: #fff;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50%;
            @include mq(large){
              width:210px;
              height:210px;
            }
        } 
}

$breakpoints: (
xsmall: (min-width: 460px),
small: (min-width: 640px),
medium: (min-width: 800px),
large: (min-width: 1024px),
xlarge: (min-width: 1200px),
xxlarge: (min-width: 1440px),
);

@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint );
  @if($size){
    @media #{$size}{
    @content
    }
  }
}