.result{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:4px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    padding: 15px;
    width:90%;
    max-width: 600px;
    margin: 0px auto;
    @include mq(xlarge){
    max-width: 650px;
    padding: 15px 25px;
    }
    &__score{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 5px;
        width: 85px;
        height: 80px;
        @include mq(large){
          width:100px;
          height: 95px;
        }
        @include mq(xlarge){
          width:135px;
          height: 110px;
        }
    }
    &__scoreText{
    font-size: 0.9rem;
    color:hsl(229, 25%, 31%);
    }
    &__currentScore{
      font-size: 3rem;
      color:hsl(229, 25%, 31%);
    }
    &__logo{
      width: 75px;
      @include mq(large){
        width:100px;
      }
      @include mq(xlarge){
        width:110px;
      }
    }
}