.rules{
    display: flex;
    justify-content: center;
    align-items: center;
    &__btn{
        padding:7.5px 35px;
        border: 2px solid hsl(217, 16%, 45%);
        border-radius: 10px;
        color:white;
        font-weight:600;
        font-size: 1.3rem;
        letter-spacing: 2px;
        background-color: transparent;
        cursor: pointer;
    }
}