* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle, #1f3354 0%, #15193c 100%);
}

.App {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 35px;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid #606e85;
  border-radius: 10px;
  padding: 15px;
  width: 90%;
  max-width: 600px;
  margin: 0px auto;
}

@media (min-width: 1200px) {
  .result {
    max-width: 650px;
    padding: 15px 25px;
  }
}

.result__score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 5px;
  width: 85px;
  height: 80px;
}

@media (min-width: 1024px) {
  .result__score {
    width: 100px;
    height: 95px;
  }
}

@media (min-width: 1200px) {
  .result__score {
    width: 135px;
    height: 110px;
  }
}

.result__scoreText {
  font-size: 0.9rem;
  color: #3b4363;
}

.result__currentScore {
  font-size: 3rem;
  color: #3b4363;
}

.result__logo {
  width: 75px;
}

@media (min-width: 1024px) {
  .result__logo {
    width: 100px;
  }
}

@media (min-width: 1200px) {
  .result__logo {
    width: 110px;
  }
}

.game {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 50px auto;
}

@media (min-width: 1024px) {
  .game {
    width: 450px;
    height: 450px;
    margin-bottom: 0px;
    margin-top: 40px;
  }
}

.game__img {
  position: absolute;
  width: 250px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

@media (min-width: 1024px) {
  .game__img {
    width: 375px;
  }
}

.rulesBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .rulesBtn {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.rulesBtn__btn {
  padding: 7.5px 35px;
  border: 2px solid #606e85;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 2px;
  background-color: transparent;
  cursor: pointer;
}

.rules {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
}

.rules__escape {
  position: absolute;
  top: 7.5%;
  left: 95%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-image: url("../images/icon-close.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.rules__img {
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .rules__img {
    width: 400px;
  }
}

.rules__wrap {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 400px;
  background-color: #fff;
  padding: 50px 25px 25px;
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .rules__wrap {
    width: 400px;
    height: 500px;
  }
}

.circleScissors {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 95px;
  height: 95px;
  border-radius: 50%;
  cursor: pointer;
  top: 15%;
  left: 50%;
  background-color: #EAA927;
}

@media (min-width: 1024px) {
  .circleScissors {
    width: 140px;
    height: 140px;
  }
}

.circleScissors::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

@media (min-width: 1024px) {
  .circleScissors::after {
    width: 115px;
    height: 115px;
  }
}

.circleScissors:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #EAA927;
          box-shadow: 0px 0px 5px 1px #EAA927;
}

.circleScissors::after {
  background-image: url(../images/icon-scissors.svg);
}

.circlePaper {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 95px;
  height: 95px;
  border-radius: 50%;
  cursor: pointer;
  top: 40%;
  left: 85%;
  background-color: #5471F4;
}

@media (min-width: 1024px) {
  .circlePaper {
    width: 140px;
    height: 140px;
  }
}

.circlePaper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

@media (min-width: 1024px) {
  .circlePaper::after {
    width: 115px;
    height: 115px;
  }
}

.circlePaper:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #5471F4;
          box-shadow: 0px 0px 5px 1px #5471F4;
}

.circlePaper::after {
  background-image: url(../images/icon-paper.svg);
}

.circleRock {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 95px;
  height: 95px;
  border-radius: 50%;
  cursor: pointer;
  top: 85%;
  left: 75%;
  background-color: #DF3D55;
}

@media (min-width: 1024px) {
  .circleRock {
    width: 140px;
    height: 140px;
  }
}

.circleRock::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

@media (min-width: 1024px) {
  .circleRock::after {
    width: 115px;
    height: 115px;
  }
}

.circleRock:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #DF3D55;
          box-shadow: 0px 0px 5px 1px #DF3D55;
}

.circleRock::after {
  background-image: url(../images/icon-rock.svg);
}

.circleLizard {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 95px;
  height: 95px;
  border-radius: 50%;
  cursor: pointer;
  top: 85%;
  left: 25%;
  background-color: #8B5EE2;
}

@media (min-width: 1024px) {
  .circleLizard {
    width: 140px;
    height: 140px;
  }
}

.circleLizard::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

@media (min-width: 1024px) {
  .circleLizard::after {
    width: 115px;
    height: 115px;
  }
}

.circleLizard:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #8B5EE2;
          box-shadow: 0px 0px 5px 1px #8B5EE2;
}

.circleLizard::after {
  background-image: url(../images/icon-lizard.svg);
}

.circleSpock {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 95px;
  height: 95px;
  border-radius: 50%;
  cursor: pointer;
  top: 40%;
  left: 15%;
  background-color: #4CBCD1;
}

@media (min-width: 1024px) {
  .circleSpock {
    width: 140px;
    height: 140px;
  }
}

.circleSpock::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

@media (min-width: 1024px) {
  .circleSpock::after {
    width: 115px;
    height: 115px;
  }
}

.circleSpock:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #4CBCD1;
          box-shadow: 0px 0px 5px 1px #4CBCD1;
}

.circleSpock::after {
  background-image: url(../images/icon-spock.svg);
}

.scissorsBig {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #EAA927;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .scissorsBig {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .scissorsBig {
    width: 290px;
    height: 290px;
  }
}

.scissorsBig::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

@media (min-width: 1024px) {
  .scissorsBig::after {
    width: 210px;
    height: 210px;
  }
}

@media (min-width: 1200px) {
  .scissorsBig::after {
    width: 240px;
    height: 240px;
  }
}

.scissorsBig::after {
  background-image: url("../images/icon-scissors.svg");
}

.paperBig {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #5471F4;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .paperBig {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .paperBig {
    width: 290px;
    height: 290px;
  }
}

.paperBig::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

@media (min-width: 1024px) {
  .paperBig::after {
    width: 210px;
    height: 210px;
  }
}

@media (min-width: 1200px) {
  .paperBig::after {
    width: 240px;
    height: 240px;
  }
}

.paperBig::after {
  background-image: url("../images/icon-paper.svg");
}

.rockBig {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #DF3D55;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .rockBig {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .rockBig {
    width: 290px;
    height: 290px;
  }
}

.rockBig::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

@media (min-width: 1024px) {
  .rockBig::after {
    width: 210px;
    height: 210px;
  }
}

@media (min-width: 1200px) {
  .rockBig::after {
    width: 240px;
    height: 240px;
  }
}

.rockBig::after {
  background-image: url("../images/icon-rock.svg");
}

.lizardBig {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #8B5EE2;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .lizardBig {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .lizardBig {
    width: 290px;
    height: 290px;
  }
}

.lizardBig::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

@media (min-width: 1024px) {
  .lizardBig::after {
    width: 210px;
    height: 210px;
  }
}

@media (min-width: 1200px) {
  .lizardBig::after {
    width: 240px;
    height: 240px;
  }
}

.lizardBig::after {
  background-image: url("../images/icon-lizard.svg");
}

.spockBig {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #4CBCD1;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .spockBig {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .spockBig {
    width: 290px;
    height: 290px;
  }
}

.spockBig::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

@media (min-width: 1024px) {
  .spockBig::after {
    width: 210px;
    height: 210px;
  }
}

@media (min-width: 1200px) {
  .spockBig::after {
    width: 240px;
    height: 240px;
  }
}

.spockBig::after {
  background-image: url("../images/icon-spock.svg");
}

.gameResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.gameResult__chosen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

@media (min-width: 1024px) {
  .gameResult__chosen {
    max-width: 600px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .gameResult__chosen--bigger {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .gameResult__chosen {
    max-width: 900px;
  }
  .gameResult__chosen--bigger {
    max-width: 1050px;
  }
}

.gameResult__house {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
}

@media (min-width: 1024px) {
  .gameResult__house {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .gameResult__house {
    width: 290px;
    height: 290px;
  }
}

.gameResult__outcome {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  height: 180px;
}

@media (min-width: 1024px) {
  .gameResult__outcome {
    display: none;
  }
  .gameResult__outcome--visibility {
    display: inherit;
    width: auto;
    min-width: 350px;
  }
}

.gameResult__win {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
}

.gameResult__again {
  margin-top: 20px;
  font-size: 1.4rem;
  color: #3b4363;
  padding: 15px 10px;
  width: 70%;
  border-radius: 10px;
  border: none;
  background-color: white;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.gameResult__yourChosen, .gameResult__houseChosen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
}

@media (min-width: 1024px) {
  .gameResult__yourChosen, .gameResult__houseChosen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.gameResult__yourChosenTxt, .gameResult__houseChosenTxt {
  margin-top: 35px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .gameResult__yourChosenTxt, .gameResult__houseChosenTxt {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
}

@media (min-width: 1024px) {
  .gameResult__yourChosen {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media (min-width: 1024px) {
  .gameResult__houseChosen {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.win {
  -webkit-animation: win 0.5s linear both;
          animation: win 0.5s linear both;
}

#win {
  -webkit-animation: win 0.5s linear both;
          animation: win 0.5s linear both;
}

@-webkit-keyframes win {
  0% {
    -webkit-box-shadow: 0px 0px 5px 2px white;
            box-shadow: 0px 0px 5px 2px white;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  100% {
    -webkit-box-shadow: 0px 0px 50px 5px white;
            box-shadow: 0px 0px 50px 5px white;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

@keyframes win {
  0% {
    -webkit-box-shadow: 0px 0px 5px 2px white;
            box-shadow: 0px 0px 5px 2px white;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  100% {
    -webkit-box-shadow: 0px 0px 50px 5px white;
            box-shadow: 0px 0px 50px 5px white;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}
/*# sourceMappingURL=style.css.map */